/* ex76.html */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: NanumBarunGothic, Dotum, "돋음", sans-serif;
}
.links {
  display: flex;
  gap: 15px;
}
ul li {
  list-style: none;
}
.links a,
nav a {
  text-decoration: none;
  color: black;
}
.links a:hover,
nav a:hover {
  text-decoration: underline;
  text-decoration-color: #4f3395;
}
.links-right {
  justify-content: flex-end;
}

header {
  padding: 0px 50px;
  padding-top: 10px;
  border-bottom: 1px solid #4f3395;
  display: flex;
  gap: 45px;
  justify-content: space-between;
  position: relative;
}
.inner {
  width: 1100px;
  margin: 0 auto;
}
.header-wrap {
  display: flex;

  width: 1100px;
  margin: 0 auto;
  gap: 75px;
}
.header-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 15px;
}
.menus {
  display: flex;
  justify-content: space-between;
}
.menus-icons {
  display: flex;
  gap: 15px;
  align-items: center;
}

.icon {
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-position: 50%;
}
.hamburger {
  background-image: url("https://img.megabox.co.kr/static/pc/images/common/ico/ico-sitemap.png");
}
.search {
  background-image: url("https://img.megabox.co.kr/static/pc/images/common/ico/ico-search.png");
}

/* ?? */
.menus a {
  display: block;
  width: 30px;
  height: 30px;
}
.menus button {
  padding: 15px 0;
  cursor: pointer;
  border: none;
  /* 투명 테두리선을 그린다. */
  /* 커서 올리면 위치가 이동되기에 */
  border-bottom: 3px solid transparent;
  background-color: transparent;
  font-size: 18px;
}
.menus button:hover {
  border-bottom: 3px solid #339ed2;
}

#logo {
  width: 140px;
  object-fit: contain;
}

/* 드롭다운 메뉴 */
.nav-toolbar {
  /* visibility를 사용한다. */
  visibility: hidden;

  position: absolute;
  left: 0;
  bottom: -40px;
  width: 100%;
  height: 40px;
  background-color: #339ed2;
  z-index: 3;

  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0 50px;
}

.nav-toolbar a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  width: fit-content;
  height: auto;
}

/* 형제 선택자 : 같은 레벨의 뒤에 있는 요소 선택 */
.menu-movie:hover ~ .toolbar-movie,
.toolbar-movie:hover {
  visibility: visible;
}

.menu-reservation:hover ~ .toolbar-reservation,
.toolbar-reservation:hover {
  visibility: visible;
}

.menu-event:hover ~ .toolbar-event,
.toolbar-event:hover {
  visibility: visible;
}

.menu-benefit:hover ~ .toolbar-benefit,
.toolbar-benefit:hover {
  visibility: visible;
}

.calendar {
  background-image: url("https://img.megabox.co.kr/static/pc/images/common/ico/ico-schedule.png");
}
.mypage {
  background-image: url("https://img.megabox.co.kr/static/pc/images/common/ico/ico-mymega.png");
}

/* Nav 카테고리 */
nav {
  background-color: #f8f8fa;
  padding: 10px 50px;
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 100;
  top: 0;
}
.nav-wrap {
  width: 100%;
  max-width: 1100px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
nav a {
  margin: 0 5px;
}
nav div {
  width: 20px;
  height: 20px;
}
.home {
  background-image: url("https://img.megabox.co.kr/static/pc/images/common/bg/bg-location-home.png");
}
.arrow-right {
  background-image: url("https://img.megabox.co.kr/static/pc/images/common/bg/bg-location-arr.png");
}
main {
  padding: 40px 0;
}

.page-title {
  font-size: 26px;
  margin-bottom: 20px;
}

.movie-tab {
  display: flex;
  border: 1px solid #ccc;
  margin-bottom: 40px;
  padding: 0;
  position: sticky;
  z-index: 100;
  top: 40px;
  border-radius: 5px;
}

.movie-tab li {
  flex: 1;
  text-align: center;
  padding: 15px 0;
  border-right: 1px solid #f9f9f9;
  cursor: pointer;
  background-color: white;
  border-bottom: 1px solid #503396;
  opacity: 0.8;
}

.movie-tab li.active {
  border: 1px solid #503396;
  border-bottom: 1px solid #f9f9f9;
}
.movie-tab li:active {
  background-color: #503396;
  color: white;
}
.movie-searchbar {
  margin-bottom: 20px;
  display: flex;
  gap: 30px;
  align-items: center;
}

.movie-releases {
  margin-left: -25px;
  font-size: 14px;
  font-weight: 700;
}

.movie-searchbar .toggle {
  background: url("/image/btn-on-air.png") no-repeat -0 0;
  background-size: 30px 45px;
  width: 33px;
  height: 20px;
  border: none;
}
#movie-searchbar {
  margin-left: auto;
  border: none;
  padding: 10px 10px;
  font-size: 14px;
  border: 1px solid #dbd8d8;
  outline: none;
  width: 240px;
  border-radius: 3px;
}
.movie-searchbar input {
  margin-left: auto;
  background: url("/image/btn-search-input.png") no-repeat right 10px center;
  padding-right: 32px;
}

.movie-list {
  display: flex;
  gap: 40px;
  flex-flow: row wrap;
}
.movie-card {
  width: 245px;
}

.poster-area {
  position: relative;
  width: 100%;
  height: 330px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
  background-color: #333;
}

.poster-area .rank {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #503396;
  color: white;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
}

.poster-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.overlay .explanation {
  font-size: 16px;
  font-weight: bold;
}

.poster-area:hover .overlay {
  opacity: 1;
}
.Reviews {
  font-size: 18px;
  font-weight: bold;
}

.info-area {
  margin-bottom: 10px;
}

.movie-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  gap: 5px;
}
.movie-name img {
  width: 30px;
  height: 30px;
}
.movie-rate {
  font-size: 14px;
  color: #666;
}

.btn-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.btn-top {
  display: flex;
  gap: 5px;
}
/* 첫 번째 영화 버튼(dolby cinema포함) */
.btn-heart1 {
  width: 30%;
  padding: 8px 0;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  color: #444;
  transition: all;
}
.btn-heart1:active {
  width: 40%;
  background-color: #ccc;
}
.btn-book1 {
  width: 40%;
  padding: 8px 0;
  border: none;
  background-color: #503396;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  transition: all;
}
.btn-book1:active {
  width: 50%;
  background-color: #6c5991;
}
.btn-dolby1 {
  width: 40%;
  padding: 8px 0;
  border: none;
  background-color: #503396;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
.btn-dolby1:active {
  width: 50%;
  background-color: #6c5991;
}
/* 첫 번째 영화 버튼(dolby cinema포함) */

.btn-heart {
  width: 30%;
  padding: 10px 0;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  color: #444;
  transition: all;
}
.btn-heart:active {
  width: 40%;
  background-color: #ccc;
}
.btn-book {
  width: 70%;
  padding: 8px 0;
  border: none;
  background-color: #503396;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  transition: all;
}
.btn-book:active {
  width: 80%;
  background-color: #6c5991;
}
.more-btn {
  width: 100%;
  height: 20px;
  background-color: #ffffff;
  margin-top: 30px;
  padding: 20px 0;
  border: 1px solid #f2f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.more-btn img {
  margin-left: 5px;
  margin-top: 2px;
}
.more-btn:hover {
  /* outline-style: solid; */
  border: 1px solid #b9afaf;
}

footer {
  background-color: #f8f8fa;
  margin-top: 50px;
}
.footer-wrap {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.footer-info {
  margin-top: 20px;
  display: flex;
  padding: 20px;
  gap: 20px;
  font-size: 12px;
  font-weight: 500;
}

.cinema-search {
  display: flex;
  justify-content: flex-end;
  margin-top: -20px;
  margin-right: 30px;
}
.cinema-search .cinema-searchbar {
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid #484848;
  border-radius: 20px;
  font-size: 14px;
  border: 1px solid #cfcaca;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 40px;
}
.address-info {
  font-size: 14px;
  width: 750px;
  margin-left: 10px;
  font-weight: 500;
}
.footer-info-text:hover {
  text-decoration: underline;
}
.sns-img {
  margin-left: 20px;
  cursor: pointer;
}
