* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Malgun Gothic", sans-serif;
  color: #222;
}

a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
  font-family: inherit;
}
ul,
li {
  list-style: none;
}
.top-inner,
.inner {
  width: 1100px;
  margin: 0 auto;
}

header {
  background-color: #fff;
  border-bottom: 1px solid #000000;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.header-top-left a,
.header-top-right a {
  color: #666;
  font-size: 13px;
  margin: 0 10px;
}
.header-top-left a:hover,
.header-top-right a:hover {
  text-decoration: underline;
}

.logo {
  font-size: 28px;
  font-weight: 900;
  color: #351f66;
  margin-top: 20px;
  margin-right: 50px;
  cursor: pointer;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.gnb-left,
.gnb-right {
  display: flex;
  gap: 20px;
}

.gnb-center {
  position: relative;
  width: 100%;
}

.gnb-center-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  list-style: none;
}
.gnb-center-nav > li.gnb-center-nav-item {
  position: static;
}
.gnb-center-nav-item {
  position: relative;
  display: flex;
}
.gnb-center-nav-item a {
  font-size: 18px;
  font-weight: bold;
}
.gnb-center-nav-item a:hover {
  border-radius: 20px;
}
.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #7898c8;
  display: none;
  z-index: 1000;
  width: 100%;
}
.dropdown li {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.dropdown a {
  display: block;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  font-size: 14px;
}
.dropdown a:hover {
  text-decoration: underline;
}

.gnb-center-nav-item:hover .dropdown {
  display: flex;
}
.gnb-left button {
  margin-left: 10px;
}
.gnb-right button {
  margin-right: 10px;
}

.gnb-right button,
.gnb-left button {
  border: none;
  background: transparent;
  font-size: 16px;
}
.movie-order {
  background-color: #f7f7f7;
  display: flex;
  padding: 10px 0;
  gap: 4px;
  position: sticky;
  top: 0;
  z-index: 100;
}
.movie-navi-order {
  margin-left: 180px;
}

.movie-navi-order a {
  font-size: 14px;
}
.movie-navi-order a:hover {
  text-decoration: underline;
}

main {
  padding: 40px 0;
}

.page-title {
  font-size: 26px;
  margin-bottom: 20px;
}

.movie-tab {
  display: flex;
  border: 1px solid #ccc;
  border-bottom: 1px solid #503396;
  margin-bottom: 40px;
  padding: 0;
  position: sticky;
  z-index: 100;
  top: 40px;
}

.movie-tab li {
  flex: 1;
  text-align: center;
  padding: 15px 0;
  border-right: 1px solid #ccc;
  cursor: pointer;
  background-color: #efebeb;
}

.movie-tab li.active {
  background-color: #503396;
  color: white;
  border-color: #503396;
}
.movie-tab li:active {
  background-color: #503396;
  color: white;
}
.movie-searchbar {
  margin-bottom: 20px;
  display: flex;
  gap: 30px;
  align-items: center;
}

.movie-releases {
  margin-left: -25px;
  font-size: 14px;
  font-weight: 700;
}

.movie-searchbar .toggle {
  background: url("/image/btn-on-air.png") no-repeat -0 0;
  background-size: 30px 45px;
  width: 33px;
  height: 20px;
  border: none;
}
#movie-searchbar {
  margin-left: auto;
  border: none;
  padding: 10px 0;
  font-size: 14px;
  border: 1px solid #dbd8d8;
  outline: none;
  width: 240px;
}
.movie-searchbar input {
  margin-left: auto;
  background: url("/image/btn-search-input.png") no-repeat right 10px center;
  background-size: 15px;
  padding-right: 32px;
}

.movie-list {
  display: flex;
  gap: 40px;
  flex-flow: row wrap;
}
.movie-card {
  width: 245px;
}

.poster-area {
  position: relative;
  width: 100%;
  height: 330px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
  background-color: #333;
}

.poster-area .rank {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #503396;
  color: white;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
}

.poster-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.overlay .explanation {
  font-size: 16px;
  font-weight: bold;
}

.poster-area:hover .overlay {
  opacity: 1;
}

.info-area {
  margin-bottom: 10px;
}

.movie-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  gap: 5px;
}
.movie-name img {
  width: 30px;
  height: 30px;
}
.movie-rate {
  font-size: 14px;
  color: #666;
}

.btn-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.btn-top {
  display: flex;
  gap: 5px;
}

.btn-heart {
  width: 30%;
  padding: 8px 0;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  color: #444;
  transition: all;
}
.btn-heart:active {
  width: 31%;
  background-color: #ccc;
}
.btn-book {
  width: 70%;
  padding: 8px 0;
  border: none;
  background-color: #503396;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  transition: all;
}
.btn-book:active {
  width: 71%;
  background-color: #000000;
}
.btn-dolby {
  width: 100%;
  padding: 8px 0;
  border: none;
  background-color: #222;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
.more-btn {
  width: 100%;
  height: 20px;
  background-color: #ffffff;
  margin-top: 30px;
  padding: 20px 0;
  border: 1px solid #f2f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.more-btn img {
  margin-left: 5px;
  margin-top: 2px;
}
.more-btn:hover {
  outline-style: solid;
}

footer {
  background-color: #f8f8fa;
  margin-top: 50px;
}
.footer-wrap {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.footer-info {
  margin-top: 20px;
  display: flex;
  padding: 20px;
  gap: 20px;
  font-size: 12px;
  font-weight: 500;
}

.cinema-search {
  display: flex;
  justify-content: flex-end;
  margin-top: -20px;
  margin-right: 30px;
}
.cinema-search .cinema-searchbar {
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid #484848;
  border-radius: 20px;
  font-size: 14px;
  border: 1px solid #cfcaca;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 40px;
}
.address-info {
  font-size: 14px;
  width: 750px;
  margin-left: 10px;
  font-weight: 500;
}
.footer-info-text:hover {
  text-decoration: underline;
}
.sns-img {
  margin-left: 20px;
  cursor: pointer;
}
