* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Malgun Gothic", sans-serif;
  color: #222;
}

a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
  font-family: inherit;
}
ul,
li {
  list-style: none;
}
.top-inner,
.inner {
  width: 1100px;
  margin: 0 auto;
}

header {
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.header-top-left a,
.header-top-right a {
  color: #666;
  font-size: 13px;
  margin: 0 10px;
}
.header-top-left a:hover,
.header-top-right a:hover {
  text-decoration: underline;
}

.logo {
  font-size: 28px;
  font-weight: 900;
  color: #351f66;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.gnb-left,
.gnb-right {
  display: flex;
  gap: 10px;
}

.gnb-center {
  display: flex;
  gap: 100px;
}

.gnb-center a {
  font-size: 18px;
  font-weight: bold;
}

.gnb-right button,
.gnb-left button {
  border: none;
  background: transparent;
  font-size: 16px;
}

main {
  padding: 40px 0;
}

.page-title {
  font-size: 26px;
  margin-bottom: 20px;
}

.movie-tab {
  display: flex;
  border: 1px solid #ccc;
  border-bottom: 1px solid #503396;
  margin-bottom: 40px;
  padding: 0;
}

.movie-tab li {
  flex: 1;
  text-align: center;
  padding: 15px 0;
  border-right: 1px solid #ccc;
  cursor: pointer;
}

.movie-tab li.active {
  background-color: #503396;
  color: white;
  border-color: #503396;
}
.movie-list {
  display: flex;
  gap: 40px;
  flex-flow: row wrap;
}
.movie-card {
  width: 230px;
}

.poster-area {
  position: relative;
  width: 100%;
  height: 330px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
  background-color: #333;
}

.poster-area .rank {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #503396;
  color: white;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
}

.poster-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-area {
  margin-bottom: 10px;
}

.movie-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-rate {
  font-size: 14px;
  color: #666;
}

.btn-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.btn-top {
  display: flex;
  gap: 5px;
}

.btn-heart {
  width: 30%;
  padding: 8px 0;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  color: #444;
}

.btn-book {
  width: 70%;
  padding: 8px 0;
  border: none;
  background-color: #503396;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.btn-dolby {
  width: 100%;
  padding: 8px 0;
  border: none;
  background-color: #222;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
